.about {
    overflow:none;
    height: 90vh; 
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 


    @media (max-width: 950px){
        height: 90%;
    }
}

.aboutHeading {
    height: 20%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0d6dcf;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    
}

.aboutContent {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    padding: 5%;
    margin-bottom: 3%;


}

.aboutContent p {
    width: 80%;
    text-align: justify;
    line-height: 1.6;
    color: #fff;
}

/* Media Queries */
@media (max-width: 768px) {
    .aboutHeading {
        font-size: 2.5em;
        padding: 15px;
    }

    .aboutContent p {
        width: 90%;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .aboutHeading {
        font-size: 2.5em;
        padding: 10px;
    }

    .aboutContent p {
        width: 95%;
        font-size: 0.8em;
    }
}

/* Animation */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}
